[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
beatifulsoup4 = "*"
lxml = "*"
beautifulsoup4 = "*"
flask-restplus = "*"
babel = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
